version: '3.7'

services:
  web:
    build:
      context: ./back-end/erasmail
      dockerfile: Dockerfile.prod
    command: gunicorn erasmail.wsgi:application --bind 0.0.0.0:8000
    expose:
      - 8000
    env_file:
      - ./.env.prod
    depends_on:
      - db
  db:
    image: postgres:alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod.db
  nginx:
    build: nginx
    ports:
      - 1337:80
    depends_on:
      - web
volumes:
  postgres_data: